<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742090996170-2ivtbhsfirk15ikr2v8dkhcq9hhjovk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742090996170-2ivtbhsfirk15ikr2v8dkhcq9hhjovk9</string>
	<key>API_KEY</key>
	<string>AIzaSyBG-IGH221vlPGzsK2duMIsIXmFosQgDrM</string>
	<key>GCM_SENDER_ID</key>
	<string>742090996170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.treeves.The-Mentor-App</string>
	<key>PROJECT_ID</key>
	<string>thementorappchat</string>
	<key>STORAGE_BUCKET</key>
	<string>thementorappchat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742090996170:ios:86af3c1d26060334137733</string>
</dict>
</plist>